<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <ComponentGroup Id="IdasenDeskJson"
                        Directory="INSTALLFOLDER">
            <Component NeverOverwrite="yes">
                <File Source="..\Idasen.RestApi\bin\Release\net6.0-windows10.0.19041.0\publish\win-x64\idasen-desk.json" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>